
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #837db7;
	border: 0;
	border-radius: 3px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 16px 30px;
	text-transform: uppercase;
	transition: all .2s cubic-bezier( .4, 0, .2, 1 );
	width: 100%;
	&:hover,
	&:focus {
		background-color: #837db7;
		color: white;
		opacity: .8;
	}
}