
$azure: #d7e8eb;
$blue: #0095aa;
$brown: #ad6134;
$dark-cyan-2: #24798b;
$dark-cyan: #268499;
$gold: #fbb602;
$goldenrod: #d38911;
$gray-light-2: #f1f0f6;
$gray-light: #f7f7ff;
$green: #00805f;
$mintcream: #ebf3f5;
$orange: #ea8a00;
$purple-2: #837db7;
$purple: #736e9e;
$red: #e8422d;
$salmon: #ed5e5c;
$sandy-brown: #e6ae71;
$dark-gray: #565656;


/*========================================
=            Colores de Fondo            =
========================================*/
	.bg-purple {
		background-color: $purple;
	}

	.bg-white {
		background-color: white;
	}

	.bg-mintcream {
		background-color: $mintcream;
	}

	.bg-azure {
		background-color: $azure;
	}

	.bg-dark-cyan {
		background-color: $dark-cyan;
	}

	.bg-gray-light-2 {
		background-color: $gray-light-2;
	}

	.bg-gold {
		background-color: $gold;
	}
/*=====  End of Colores de Fondo  ======*/


/*=========================================
=            Colores de Fuente            =
=========================================*/
	.f-white {
		color: white;
	}

	.f-blue {
		color: #0269b6;
		&:focus,
		&:visited,
		&:hover {
			color: #0269b6;
		}
	}

	.f-dark-gray {
		color: $dark-gray;
	}

	.f-black {
		color: #333;
		&:focus,
		&:visited,
		&:hover {
			color: #333;
		}
	}
/*=====  End of Colores de Fuente  ======*/

