
$azure: #d7e8eb;
$blue: #0095aa;
$brown: #ad6134;
$dark-cyan-2: #24798b;
$dark-cyan: #268499;
$gold: #fbb602;
$goldenrod: #d38911;
$gray-light-2: #f1f0f6;
$gray-light: #f7f7ff;
$green: #00805f;
$mintcream: #ebf3f5;
$orange: #ea8a00;
$purple-2: #837db7;
$purple: #736e9e;
$red: #e8422d;
$salmon: #ed5e5c;
$sandy-brown: #e6ae71;



.bg-purple {
	background-color: $purple;
}

.white {
	color: white;
}

.bg-color-mintcream {
	background-color: $mintcream;
}

.bg-color-azure {
	background-color: $azure;
}