
@import './colors.scss';

a {
  outline: none;
}

.F {
  text-transform: uppercase;
}

.f-bigger {
  font-size: 22px;
  line-height: 1.2;
}

.f-big {
  font-size: 20px;
  line-height: 1.2;
}

.f-normal {
  font-size: 18px;
  line-height: 1.2;
}

.f-small {
  font-size: 14px;
  line-height: 1.2;
}

.f-tiny {
  font-size: 12px;
  line-height: 1.2;
}

.f-news-link {
  color: $dark-gray;
  &:hover,
  &:visited {
    text-decoration: underline;
    color: $dark-gray;
  }
}

.f-link-white {
  color: white;
  &:visited {
    color: white;
    text-decoration: underline;
  }
  &:hover,
  &:focus {
    color: white;
    text-decoration: underline;
  }
}

.f-subtitle {
  font-weight: bolder;
}