
@import './colors.scss';

body,
a {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  &.jump-line {
    line-height: 1.2;
    margin-bottom:3px;
  }
}

a {
  outline: none;
}

.F {
  text-transform: uppercase;
}

.f-bigger {
  font-size: 22px;
  line-height: 1.2;
}

.f-big {
  font-size: 20px;
  line-height: 1.2;
}

.f-normal {
  font-size: 16px;
  line-height: 1.2;
}

.f-small {
  font-size: 14px;
  line-height: 1.2;
}

.f-tiny {
  font-size: 12px;
  line-height: 1.2;
}

.f-news-link {
  color: $dark-gray;
  &:hover,
  &:visited {
    text-decoration: underline;
    color: $dark-gray;
  }
}

.f-link {
  border-bottom: 1px solid black;
  color: black;
  font-weight: bolder;
  padding-bottom: 3px;
  transition: all .2s cubic-bezier( .4, 0, .2, 1 );
  &:hover,
  &:focus,
  &:visited {
    color: black;
    opacity: .8;
  }
  &.no-border {
    border: 0;
    &:hover {
      border-bottom: 1px solid black;
      transition: all .2s cubic-bezier( .4, 0, .2, 1 );
    }
  }
}

.f-link-white {
  color: white;
  &:visited {
    color: white;
    text-decoration: underline;
  }
  &:hover,
  &:focus {
    color: white;
    text-decoration: underline;
  }
}

.f-bold {
  font-weight: bold;
}

