
.mg-0-auto {
	margin: 0 auto;
}

.mg-0-auto-i {
	margin: 0 auto !important;
}

.mg-bottom-15 {
	margin-bottom: 15px;
}

.pd-10 {
	padding: 10px;
}

.pd-15 {
	padding: 15px;
}

.pd-30 {
	padding: 30px;
}

.pd-30-0 {
	padding: 30px 0;
}

.pd-bottom-30 {
	padding-bottom: 30px;
}

