
// Línea divisoria
.divider {
	border-bottom: 2px solid #d1d2d5;
}

.divider--black {
	border-color: #9b9ba2;
}

// Margin

.mg-bottom-0 {
	margin-bottom: 0px;
}

.mg-0-auto {
	margin: 0 auto;
}

.mg-0-auto-i {
	margin: 0 auto !important;
}

.mg-bottom-15 {
	margin-bottom: 15px;
}

.mg-bottom-16 {
	margin-bottom: 16px;
}

.mg-top-15 {
	margin-top: 15px;
}

.mg-bottom-xs-30 {
	margin-bottom: 30px;
}

.mg-bottom-90 {
	margin-bottom: 90px;
}


// Padding

.pd-10 {
	padding: 10px;
}

.pd-15 {
	padding: 15px;
}

.pd-30 {
	padding: 30px;
}

.pd-60 {
	padding: 60px;
}

.pd-25-0 {
	padding: 25px 0;
}

.pd-30-0 {
	padding: 30px 0;
}

.pd-bottom-15 {
	padding-bottom: 15px;
}

.pd-bottom-30 {
	padding-bottom: 30px;
}

.pd-bottom-32 {
	padding-bottom: 32px;
}

.pd-bottom-60 {
	padding-bottom: 60px;
}

.pd-top-45 {
	padding-top: 45px;
}

.pd-top-60 {
	padding-top: 60px;
}







@media screen and ( min-width: 960px ) {

	.mg-bottom-xs-30 {
		margin-bottom: 0;
	}
}