
@import './../global/colors.scss';

.accordion-content {
	border: 0;
	border-bottom: 2px solid $dark-cyan;
	margin-bottom: 3px;
	padding: 30px 0;
}

:last-child>.accordion-content:last-child {
	border: 0;
	border-bottom: 2px solid $dark-cyan;
}

.accordion-title {
	&:hover,
	&:focus {
		background-color: $dark-cyan-2;
	}
	&.f-white {
		&:visited {
			color: white;
		}
	}
}
