@import './../global/colors.scss';

.card-border {
  border: 1px solid #ddd;
}

.card {
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 15px;

  &.card--news {
    transition: all .2s cubic-bezier( .4, 0, .2, 1 );
	  &:hover {
	  	box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.14),
                  0 1px 10px 0px rgba(0, 0, 0, 0.12),
	  							0 2px 4px -1px rgba(0, 0, 0, 0.3);
	  }
  }

  &.card--news--home {
    border: 1px solid #ddd;
    a {
      color: black;
    }
  }
}

.card--news--home_category {
  display: inline-block;
  margin-bottom: .5rem;
}

.card--news--home_title {
  font-weight: bolder;
  text-transform: uppercase;
}

.card-project {
  position: relative;
}

.card-project-figure {
  height: 200px;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.card-project-link {
  display: block;
  width: 100%;
}

.card-project-title {
  bottom: 0;
  left: 0;
  padding: 16px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}


@media screen and ( max-width: 959px ) {

  .card {
    .card--news--home_content {
      background-color: white !important;
    }
  }

}

@media screen and ( min-width: 960px ) {

  .card {
    &.card--news--home {
      border-left: 0 !important;
      border-radius: 0;
      color: white;
      padding: 0;
      &:hover {
        box-shadow: none;
      }
      a {
        color: white;
      }
    }
  }

  .card--news--home_caption {
    margin-bottom: 16px;
  }

  .card--news--home_normal {
    .card--news--home_title {
      font-size: 16px;
    }

    .card--news--home_container {
      height: 418px;
      position: relative;
      .card--news--home_figure {
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .card--news--home_content {
      bottom: 0;
      left: 0;
      padding: 16px 20px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

}


@media screen and ( min-width: 1080px ) {

  .card--news--home_normal {
    .card--news--home_container {
      height: 304px;
    }
  }

  .card--news--home_great {
    .card--news--home_container {
      height: 608px;
    }
    .card--news--home_content {
      padding: 100px;
    }
    .card--news--home_category {
      left: 20px;
      position: absolute;
      top: 20px;
    }
    .card--news--home_title {
      margin-bottom: 30px;
    }
    .card--news--home_caption {
      margin-bottom: 30px;
    }
  }

}