
.hslider_slide_holder {
	width: 100% !important;
	height: 500px !important;
	transform-origin: left top 0px !important;
	transform: translate3d(0px, 0px, 0px) !important;
}

.hslider_misc_holder{
	&.hslider_fullarrow {
		width: 100% !important;
	}
}

.hslider_fullarrow .hslider_left:before, .hslider_fullarrow .hslider_right:before {
	font-size: 120px !important;
	left: -35px;
}