
@import './../global/colors.scss';

	.documentContent {
		display: none;
	}

	.documentContent.document-content-is-active {
		display: block;
	}

	.documentItem.document-item-is-active {
		color: $pink-dark;
		.f-all {
			color: $pink-dark;
		}
	}

	.doc-row {
		background-color: white;
		border: 1px solid $dark-gray;
		padding: 15px;
		margin-bottom: -1px;
	}