
	input {
		height: 46px !important;
	}

	.wpcf7 .ajax-loader {
		display: none !important;
		&.is-active {
			display: inline-block !important;
		}
	}


	.wpcf7-list-item-label {
		position: relative;
		bottom: 17px;
	}

	.form-contact-join {
		.wpcf7-form-control {
		  &.wpcf7-text {
				max-width: 400px;
				border-radius: 10px;
				margin: 0 auto;
		  }
		}
	}

	.form-contact-main {
		input {
			width: 100%;
		}
	}



	@media only screen and (min-width: 720px) {
		.form-contact-main {
			input {
				width: auto;
			}
		}
	}
