
@import './../global/colors.scss';

.calendar-date--day,
.calendar-date--year {
  margin-bottom: 0;
}

.calendar-date--day {
  font-family: "Signika", sans-serif;
  font-size: 30px;
}

.city-cat {
  position: relative;
  padding: 90px 20px 60px;
}

.city-ball-image {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -60px;
  img {
    border-radius: 50%;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    height: 120px;
    width: 120px;
  }
}


.calendar-date {
  background-color: $gold;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 0;
  &.calendar-date--xs {
    background-color: $gold;
    border: 1px solid #999;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
  }
}

.calendar-event {
  background-color: white;
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 0;
  &.calendar-event--xs {
    background-color: white;
    border: 1px solid #999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
  }
}

.initial-body {
  border: 1px solid $dark-gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  padding: 30px;
}

.initial-head {
  padding: 15px 30px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid $dark-gray;
}


@media only screen and ( min-width: 960px ) {

  .calendar-date {
    background-color: $gold;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
    &.calendar-date--xs {
      border: 0;
    }
  }

  .calendar-event {
    background-color: white;
    border: 1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    &.calendar-event--xs {
      background-color: transparent;
      border: 0;
    }
  }

}
