
	.figure-project {
		position: relative;
	}

	.hslider_width_checker {
		display: none;
	}

	.project-data_title {
		padding: 10px;
	}

	.project-data {
		border: 1px solid #ccc;
	}

	.project-data_content {
		padding: 1rem;
	}

	.project-content {
		display: none;
	}

	.project-content.project-content-is-active {
		display: block;
	}

	.project-item.project-item-is-active {
		color: red;
	}

	.project-relation-figure {
		position: relative;
		width: 100%;
		img {
			width: 100%;
			max-height: 160px;
		}
	}

	.project-relation-link {
		position: absolute;
		bottom: 15px;
		left: 15px;
		&:visited {
			color: white;
		}
	}